
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
   background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 10em;
    height: auto;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    padding-right: 35px;
}
nav ul li{
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    color: blueviolet;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000;
    
}
form{
    background-color: #0000;
    box-shadow: 0 0 50px #0ef;
    min-height: 275;
    position: relative;
    width: 275px;
    height: 400px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
h2, h1 {
    font-size: 22px;
    color: #ffff;
    text-align: left;
}
.input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #ffff;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffff;
    pointer-events: none;
    transition: .5s;
}
.input-group input {
    width: 150px;
    height: 20px;
    font-size: 16px;
    color: #ffff;
    background-color: transparent;
    border: none;
    outline: none;
}
.input-group input:focus~label,
.input-group input:valid~label{
    display: none;  
}
.remember{
    display: flex;
    justify-content: end;
    position: relative;
    margin: -5px 0 15px 5px;
}
.remember label{
    color: #ffff;
    font-size: 14px;
    margin-left: 5px;
}
.remember input {
    accent-color: #0ef;
}
button{
    position: relative;
    width: 100%;
    height: 40px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    outline: none;
}